@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body
{
	font-family: 'Noto Sans', sans-serif;
	/*min-width: 1549px;*/
	margin: 0;
}

#playerDiv
{
	/*width: 960px;
	height: 540px;*/

	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 312px);
	height: calc(100% - 62px);
	margin-left: 0;
	margin-top: 30px;

	/*-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);*/
}

span.rightAligned
{
	float: right;
	height: 30px;
	padding: 0 5px 0 5px;
	border-left: solid;
	border-width: 1px;
	border-color: rgb(101, 102, 121);
	background-repeat: no-repeat;
}

span.rightAligned:hover
{
	/*background-color: rgb(42, 44, 87);*/
	cursor: pointer;
	color: #FFF;
}

span.leftAligned
{
	float: left;
	height: 30px;
	padding: 0 5px 0 5px;
	border-right: solid;
	border-width: 1px;
	border-color: rgb(101, 102, 121);
	background-repeat: no-repeat;
}

span.leftAligned:hover
{
	/*background-color: rgb(42, 44, 87);*/
	cursor: pointer;
	color: #FFF;
}

span.footer
{
	float: right;
	height: 30px;
	line-height: 30px;
	color: rgb(180, 180, 180);
	padding-right: 5px;

	font-size: 13px;
}

#topBar
{
	top: 0px;
	height: 30px;
	background-color: rgb(27, 35, 48);
	background-image: url("Images/barGradientTop.png");
	background-repeat: repeat-x;
	left: 0px;
	right: 0px;
	position: absolute;
	overflow: hidden;
	color: rgb(180, 180, 180);
	font-size: 13px;
	line-height: 30px;

	z-index: 48;

	border-bottom: solid;
	border-width: 1px;
	border-color: rgb(46, 46, 46);

	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.5);

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#topBar img
{
	position: absolute;
	top: 0;
	left: 0;
}

#controlBar
{
	bottom: 0px;
	height: 30px;
	background-color: rgb(27, 35, 48);
	background-image: url("Images/barGradientBottom.png");
	background-repeat: repeat-x;
	left: 0px;
	right: 0px;
	position: absolute;
	overflow: hidden;

	border-top: solid;
	border-width: 1px;
	border-color: rgb(46, 46, 46);

	z-index: 48;

	-webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.5);

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#controlBar .controls
{
	margin-top: 4px;
	margin-left: 4px;
	float: left;
	color: rgb(50, 50, 50);
}

#videoUrl
{
	width: 370px;
	opacity: 0.1;
}

#leftSidebar
{
	/*width: calc(100% - 323px);*/
	width: 300px;
	top: 30px;
	bottom: 32px;
	left: 0px;
	position: absolute;
	background-color: rgb(17, 25, 38);

	border: solid;
	border-left: none;
	border-color: rgb(46, 46, 46);
	border-width: 1px;
	padding: 0;

	-webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.8);
	box-shadow: -15px 0px 50px 1px rgba(0, 0, 0, 0.8);

	/* Background gradient */
	background: #111926; /* Old browsers */
	background: -moz-linear-gradient(top, #121a28 0%, #090f16 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121a28), color-stop(100%,#090f16)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #121a28 0%,#090f16 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #121a28 0%,#090f16 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #121a28 0%,#090f16 100%); /* IE10+ */
	background: linear-gradient(to bottom, #121a28 0%,#090f16 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121a28', endColorstr='#090f16',GradientType=0 ); /* IE6-9 */

	overflow: auto;
}

#rightSidebar
{
	width: 300px;
	top: 30px;
	right: 0px;
	bottom: 32px;
	position: absolute;

	/* Background gradient */
	background: #111926; /* Old browsers */
	background: -moz-linear-gradient(top, #121a28 0%, #090f16 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#121a28), color-stop(100%,#090f16)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #121a28 0%,#090f16 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #121a28 0%,#090f16 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #121a28 0%,#090f16 100%); /* IE10+ */
	background: linear-gradient(to bottom, #121a28 0%,#090f16 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121a28', endColorstr='#090f16',GradientType=0 ); /* IE6-9 */

	border: solid;
	border-top: none;
	border-right: none;
	border-color: rgb(46, 46, 46);
	border-width: 1px;
	padding: 0 5px 0 5px;

	-webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.8);

	overflow: auto;
}

#rightSidebar .chat
{
	margin: 13px 0 0 0;
	line-height: 16px;
	height: calc(100% - 45px);
}

#chatText
{
	color: #FFF;
	border: transparent;
	font-size: 12px;
	font-family: 'Arial';
}

a,
a:visited
{
	color: rgb(91, 137, 218);
}

a:hover
{
	text-decoration: underline;
}

a:hover
{
	color: rgb(121, 167, 248);
}

#chat
{
	overflow: auto;
	word-wrap: break-word;
}

#chatInput
{
	margin: 5px 0;
}

#chatInputBox
{
	margin: 0;
	background-color: rgb(186, 207, 226);
	width: calc(100% - 52px);
	height: 18px;
	float: left;
	border-radius: 5px 0px 5px 0px;
	font-family: 'Arial';
	font-size: 12px;
	padding: 0 2px;
}

#chatInputBox,
#chatInputBox:hover,
#chatInputBox:focus,
#chatInputBox:active
{
	border: 0;
	outline: none;
	outline-offset: 0;
}

#chatInputSendButton
{
	color: rgb(180, 180, 180);
	font-size: 13px;
	line-height: 18px;
	width: 45px;
	margin-left: 5px;
	height: 18px;
	float: right;
	text-align: center;
	position: absolute;
}

#chatInputSendButton:hover
{
	background-color: rgb(42, 44, 87);
	color: #FFF;
}

#ytPlayerDiv
{
	color: #FFF;
	text-align: center;
	line-height: 540px;
}

#addVideoButton
{
	color: rgb(180, 180, 180);
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	margin-left: 5px;
	padding: 0 5px 0 5px;
	cursor: pointer;
}

#addVideoButton:hover
{
	background-color: rgb(42, 44, 87);
	color: #FFF;
}

#overlay
{
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFF;
	z-index: 49;
	text-align: center;

	display: none;
}

#errorText
{
	color: rgb(138, 59, 59);
	font-size: 13px;
	font-weight: bold;
}

#aboutText:hover
{
	color: #FFF;
}

div .dialogWindow
{
	font-size: 11px;
	line-height: 16px;
}

div .dialogWindow h2
{
	margin-top: 3px;
	margin-bottom: 3px;
}

div .dialogWindow li
{
	list-style-type: none;
}

div .dialogWindow ul
{
	margin-left: 2px;
	-webkit-padding-start: 0px;
}

#settingsSaveButton
{
	position: absolute;
	bottom: 5px;
}

#settingsSaveButton:hover
{
	color: rgb(107, 106, 106);
	cursor: pointer;
}

#chatToggleButton
{
	background-image: url("Images/chatButton.png");
	width: 30px;
	height: 30px;
	padding: 0 5px;
	background-origin: content-box;
}

#playlistToggleButton
{
	background-image: url("Images/playlistButton.png");
	width: 30px;
	height: 30px;
	padding: 0 5px;
	background-origin: content-box;
}

#settingsButton
{
	background-image: url("Images/wrenchIcon.png");
	width: 30px;
	height: 30px;
	padding: 0 5px;
	background-origin: content-box;
}

#roomsDialogButton
{
	background-image: url("Images/roomsIcon.png");
	width: 30px;
	height: 30px;
	padding: 0 5px;
	background-origin: content-box;
}

#roomSettingsButton
{
	background-image: url("Images/roomSettingsButton.png");
	width: 30px;
	height: 30px;
	padding: 0 5px;
	background-origin: content-box;
}

#settingsDialog select, input
{
	width: 100%;
}

#settingsDialog select, input[type="checkbox"]
{
	width: auto;
}

#videoUrlError
{
	font-size: 13px;
	color: rgb(138, 59, 59);
	font-weight: bold;
	display: none;
}

#playlist
{
	font-size: 11px;
	color: #FFF;
	padding-left: 5px;
	margin-top: 13px;
}

#playlistEntries
{

}

#playlistEntries .playlistEntry
{
	padding: 2px 0 2px 0;
}

#playlistEntries .playlistEntry:hover
{
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

#playlistEntries .videoDetails .videoTitle
{
	float: left;
}

#playlistEntries .channelImage
{
	float: right;
	clear: right;
	margin: 5px 5px 0 0;
	border: none;
	border-radius: 2px;
}

div.lineBreaker
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	background-color: #FFF;
	height: 1px;
}

#playlistTitle
{
	color: rgb(189, 213, 255);
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
}

#currentVideo
{
	border: none;
	margin-top: -5px;
	padding-right: 5px;
}

#currentVideoImage
{
	max-width: 100%;
	max-height: 100%;
}

#currentVideoTitle
{
	font-size: 14px;
}

#roomsTable
{
	border-spacing: 0;
	border-collapse: collapse;

	width: 100%;
}

#roomsTable .tableHeader
{
	font-weight: bold;
}

#roomsTable .tableHeader:hover
{
	background-color: inherit;
	cursor: auto;
}

#roomsTable tr:hover
{
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#roomsTable tr.currentRoom
{
	background-color: rgba(0, 0, 0, 0.05);
}

#roomsTable tr.currentRoom:hover
{
	background-color: rgba(0, 0, 0, 0.1);
	cursor: auto;
}

div .nameColor
{
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

div .selected
{
	width: 16px;
	height: 16px;
}

div .nameColor:hover, .selected
{
	width: 16px;
	height: 16px;
	border: solid;
	border-color: #000;
	border-width: 2px;
}